        <!--about us-->
        <section id="aboutUs" class="p-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <img class="img-fluid h-50 d-sm-display" src="\images\Franklin.jpg" alt="" />
                    </div>
                    <div class="col-md p-5">
                        <h2>About Us</h2>
                        <p>
                            La Bonini Assicurazioni & risparmio si occupa di assicurazioni dal 1984 e nell'arco di questi anni si evolve radicando la propria presenza sul territorio
                            di Novara e provincia con 7 uffici operativi e uno staff composto da 26 persone suddivise equamente tra commerciale e amministrativo.
                            In quetsi anni consolida il propio portafoglio con oltre 9500 clienti sia nella linea persone che nella linea Imprese e Professionisti.
                            Chi lavora in questa agenzia ha la presunzione di voler proteggere il capitale umano.
                            Per cui proteggere il capitale umano &egrave molto pi&ugrave di uno slogan &egrave una "mission" e tutti noi rivolgiamo i nostri sforzi a questo facendo prevalere
                            la professionalit&agrave e l'attenzione al cliente su qualsiasi altro aspetto, anche quello economico.
                            Perch&egrave solo cosi, mettendo in primo piano l'interesse del cliente, potremo fare il nostro interesse e avere il nostro risultato economico consolidato e duraturo nel tempo.
                        </p>
                    </div>
                </div>
            </div>
        </section>