   <!--cards-->
   <section class="p-5" id="cards">
    <div class="container">
        <div class="row text-center g-3">
                    <!--prima card-->
                    <div class="col-md" >
                        <div class="card" id="firstCard">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-building" id="iFirst"></i>
                                </div>
                                <h3 class="card-title mb-3" id="h3First">Dove Trovarci</h3>
                                <p class="card-text">La Bonini Assicurazioni & risparmio dispone di svariate sedi in tutto il novarese, scopri quale sede e piu' vicina a te.</p>
                                <a href="#Info" class="btn" id="btnFirst">Scopri di piu</a>
                            </div>
                        </div>
                    </div>
    
                    <!--seconda card-->
                    <div class="col-md">
                        <div class="card" id="secondCard">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-building" id="iSecond"></i>
                                </div>
                                <h3 class="card-title mb-3" id="h3Second">UnipolRental</h3>
                                <p class="card-text">Scopri UnipolRental, il noleggio a lungo termine del Gruppo Unipol! Trova il veicolo adatto alle tue esigenze!</p>
                                <a href="/unipolrental" class="btn" id="btnSecond">Scopri di piu</a>
                            </div>
                        </div>
                    </div>
    
                    <!--terza card-->
                    <div class="col-md">
                        <div class="card" id="thirdCard">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-building" id="iThird"></i></i>
                                </div>
                                <h3 class="card-title mb-3" id="h3Third">UnipolMove</h3>
                                <p class="card-text">UnipolMove è il nuovo servizio che ti permette di pagare i pedaggi in autostrada, evitando le file ai caselli.</p>          
                                <a href="https://www.unipolmove.it/?gclid=Cj0KCQjwhLKUBhDiARIsAMaTLnGnhNUAGrS_0lDSR_uu8KhArzv8sn6lNzBhwF5qY3gfyB9kk_NNM6AaAnI9EALw_wcB" class="btn" id="btnThird">Scopri di piu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>