<section class="p-5" id="cerca">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Cerca Tra Le Varie Offerte</h3>
            <div class="input-group" id="searchInput">
                <input type="text" class="form-control" id="formCerca" placeholder="Cerca specificando la casa produttrice"/>
                <button class="btn btn-lg" id="btnCerca" onclick="filtraOfferte(this)">Cerca</button>
            </div>
        </div>
    </div>
</section>