    <!--cookie-->

    <div class="container position-relative" style="z-index: 3;">
        <div class="p-4" id="consent-popup">
            <p><i>
               Questo sito può trattare i dati personali dell’utente attraverso l’utilizzo dei cosiddetti cookies 
               che potrebbero consentire l’identificazione dell’utente o del terminale. <br> Per saperne di più̀ o negare 
               il consenso a tutti o ad alcuni cookies è possibile <a href="/docs/1b_COOKIEPOLICY_WEB_boniniassicurazionierisparmio.com.docx" download>Cliccare qui</a>. <br><br> <a id="accept" href="#">Accetta i cookie</a> prima di utilizzare il sito.
            </i></p>
            <a href="#" id="close" class="position-absolute bottom-0 end-0 p-5"><i class="bi bi-x-lg h3"></i></a>
        </div>
    </div>

