<!--Q&A-->
<section class="p-5">
    <div class="container">
        <h2 class="text-center mb-4">Domande Frequenti</h2>
        <div class="accordion accordion-flush" id="domande">
            
            <!--Prima domanda-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domanda1">
                  Manutenzione ordinaria e straordinaria
                </button>
              </h2>
              <div id="domanda1" class="accordion-collapse collapse" data-bs-parent="#domande">
                <div class="accordion-body">Sono incluse: manutenzioni programmate dalla Casa Costruttrice, sostituzione e fornitura di materiali di rapido consumo e tutte le operazioni periodiche atte ad accertarne il corretto funzionamento, gli interventi necessari al ripristino funzionale del veicolo a seguito di guasto accidentale, anomalia, usura.</div>
            </div>

            <!--Seconda domanda-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domanda2">
                  Servizio pneumatici a consumo o numero
                </button>
              </h2>
              <div id="domanda2" class="accordion-collapse collapse" data-bs-parent="#domande">
                <div class="accordion-body">Il servizio di sostituzione pneumatici può essere fornito con due modalità, sulla base dell'opzione scelta nel contratto: per frequenza chilometrica, con opzione illimitate a usura, oppure per consumo numero pneumatici complessivi nel corso del contratto.</div>
            </div>

            <!--Terza domanda-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domanda3">
                  Veicoli in anticipo
                </button>
              </h2>
              <div id="domanda3" class="accordion-collapse collapse" data-bs-parent="#domande">
                <div class="accordion-body">UnipolRental fornisce su richiesta, in attesa della consegna dell'auto in noleggio a lungo termine, una vettura in pre-assegnazione che potrà essere utilizzata fino al momento dell'arrivo dell'auto scelta.</div>
              </div>
            </div>
          </div>

          <!--Quarta domanda-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domanda4">
                Servizi assicurativi
              </button>
            </h2>
            <div id="domanda4" class="accordion-collapse collapse" data-bs-parent="#domande">
              <div class="accordion-body">I veicoli che UnipolRental fornisce al Cliente sono muniti di copertura assicurativa per la Responsabilità Civile - RC Auto - il cui massimale minimo garantito è quello di legge, assicurazione furto e incendio e Kasko. E' inoltre possibile aggiungere anche le altre coperture accessorie (cristalli, atti vandalici, eventi atmosferici e furto di parti del veicolo).</div>
            </div>
          </div>
        </div>

        <!--Quinta domanda-->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#domanda5">
              A fine noleggio è possibile acquistare l'auto che era a contratto?
            </button>
          </h2>
          <div id="domanda5" class="accordion-collapse collapse" data-bs-parent="#domande">
            <div class="accordion-body">Sì, è possibile da parte dell'utilizzatore o familiari.</div>
          </div>
        </div>
      </div>

      <div class="p-5 text-center">
        <p>Se hai altre domande contatta il nostro <span class="fw-bold">esperto</span> alla mail:   <span class="fw-bold">davide.tumler.30320@unipolsai.it</span></p>
      </div>

    </div>
</section>