<section>
    <div class="container text-center" >
        <hr>
        <div id="elimina">
            <button type="submit" class="btn my-4" id="btnFirst"  data-bs-toggle="modal" data-bs-target="#exampleModal">ELIMINA TUTTE LE NOTIZIE</button>
            <p id="Success"></p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Sicuro di voler cancellare tutte le notizie?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ANNULLA</button>
                        <button type="button" class="btn " data-bs-dismiss="modal" id="btnFirst" onclick="eliminaTutteNotizie(this)">ELIMINA</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>