    <!--footer-->
    <footer class="p-3 text-center position-relative">
      <div class="container">
          <div class="breadcrumb">
              <a class="breadcrumb-item" href="https://www.instagram.com/bonini.assicurazioni/"><i class="bi bi-instagram h3"></i></a>
              <a class="breadcrumb-item" href="https://www.facebook.com/Bonini.Assicurazioni/"><i class="bi bi-facebook h3"></i></a>
          </div>
          <p id="legal">
              Bonini Assicurazioni & risparmio <br>
              Società iscritta al <a href="https://servizi.ivass.it/RuirPubblica/">Rui</a> il 26/02/2007 <br>
              N° iscrizione A000077554 <br>
              Responsabile: Bonini Giancarlo (soggetto a controlli IVASS) <br>
              Agenti di <a href="https://www.unipolsai.it/homepage">Unipolsai</a> - Compagnia 30320 <br>
              <a href="/docs/1a_INFORMATIVA_WEBeCOOKIES_boniniassicurazionierisparmio.com.docx" download>Informativa Privacy</a>
              &emsp;
              <a href="/docs/1b_COOKIEPOLICY_WEB_boniniassicurazionierisparmio.com.docx" download>Cookie policy</a>
          </p>
          <p class="lead">Copyright &copy; 2022 Bonini Assicurazioni S.a.S.</p>
          <a href="#" class="position-absolute bottom-0 end-0 p-5"><i class="bi bi-arrow-up-circle h3"></i></a>
      </div>
    </footer>    
  </body>
</html>