        <section class="p-5 text-center text-sm-start" id="formur">
            <div class="container">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" />
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Inserisci la marca del veicolo</label>
                    <input type="text" class="form-control" id="marca" placeholder="Inserisci marca">
                </div>
                
                <button type="submit" class="btn my-4" id="btnFirst" onclick="inserisciRental(this)">Inserisci l'offerta</button>
            </div>
        </section>