<!--Contatti-->
<section class="p-5" id="Info">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Sede principale:</span> Largo Leonardi, 7 Novara (NO) 
                    </li>

                    <!--
                    <li class="list-group-item">
                        <span class="fw-bold">Sede secondaria</span> Via Novara, 36 Oleggio (NO)
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Sede secondaria</span> Viale B. Quagliotti, 29/31 Galliate (NO)
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Sede secondaria</span> Via Cavour, 33 Cameri (NO)
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Sede secondaria</span> Via Gramsci, 25 Castelletto S.T. (NO)
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Sede secondaria</span> Via Matteotti, 48 Trecate (NO)
                    </li>
                    -->
                    <li class="list-group-item">
                        <span class="fw-bold">Telefono:</span> (+39) 0321 624000
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Email:</span> 30320@unipolsai.it
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Whatsapp:</span> (+39) 3662089987
                    </li>
                </ul>
            </div>

            <div class="col-md">
                <div id="map"></div>
            </div>

            <!--script per la mappa il primo è generato in automatico il secondo e scritto manualmente-->
            <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
            <script src="/javascripts/mappa.js"></script>
        </div>
    </div>
</section>

<hr>