        <!--mission-->

        <section class="p-5 text-center text-sm-start" id="mission">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="p-5">
                        <h1>I Professionisti Del <span id="imp">Capitale Umano</span></h1>
                        <p class="lead my-4"><i>Una polizza di assicurazione sulla vita è il mezzo meno oneroso e più sicuro per costruire un fondo di prevenzione per sè e i propri cari. &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; - Benjamin Franklin</i></p>
                        <a class="btn btn-lg" type="button" id="btnAboutUs" href="#aboutUs">About Us</a>
                    </div>
                    <img class="img-fluid w-50 d-sm-display" src="\images\logo.png" alt="" />
                </div>
            </div>
        </section>