        <!--mission-->

        <section class="p-5 text-center text-sm-start" id="mission">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="p-5">
                        <h1><span id="imp">Unipol Rental</span></h1>
                        <p class="lead my-4">Guida la tua nuova autovettura senza pensieri con Il noleggio a lungo termine del Gruppo Unipol, primo gruppo assicurativo nel mercato italiano nei rami Danni.</p>
                    </div>
                    <img class="img-fluid w-50 d-sm-display" src="\images\logo.png" alt="" />
                </div>
            </div>
        </section>