     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"> <span class="navbar-toggler-icon"></span></button>
      
     <!--menu-->
     <div class="collapse navbar-collapse" id="navmenu">
         <ul class="navbar-nav ms-auto">
             <li class="nav-link"><a href="/logincollaboratori/logout" class="nav-link">LOGOUT</a></li>
        </ul>
        </div>
    </div>
</nav>