  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"> <span class="navbar-toggler-icon"></span></button>
      
  <!--menu-->
      <div class="collapse navbar-collapse" id="navmenu">
       <ul class="navbar-nav ms-auto">
        <li class="nav-link"><a href="#Info" class="nav-link">Dove trovarci</a></li>
        <li class="nav-link"><a href="/unipolrental" class="nav-link" data-link>Unipolrental</a></li>
        <li class="nav-link"><a href="/notizie" class="nav-link">Notizie</a></li>
        <li class="nav-link"><a href="https://www.unipolsai.it/servizio-clienti/reclami" class="nav-link">Reclami</a></li>
        </ul>
      </div>
    </div>
</nav>