<div class="container p-2">
    <div class="card p-2">
        <div class="card-body">
            <h5 class="card-title"><%= notizia.titolo %></h5>
            <p class="card-text"><%= notizia.testo %></p>
            <p class="card-text text-end text-muted">Pubblicata il <%= moment(notizia.data).format("DD/MM/YYYY") %></p>
        </div>
    </div>
</div>
